/* HTML: <div class="loader"></div> */
.loader {
  display: inline-flex;
  gap: 24px;
}
.loader:before,
.loader:after {
  content: "";
  height: 48px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    linear-gradient(#211E24 0 0) top/100% 0% no-repeat,
    radial-gradient(farthest-side,#452D55 95%,#0000) 50%/16px 16px no-repeat #fff;
  animation: l9 4s infinite ease-in;
}
@keyframes l9 {
    0% {
        background-size: 100% 0%, 16px 16px;
        background-position: top, 50% 50%
    }

    80% {
        background-size: 100% 70%, 16px 16px;
        background-position: top, 50% 70%
    }

    84%,
    100% {
        background-size: 100% 0%, 16px 16px;
        background-position: top, 50% 50%
    }
}