@import '../../globalStyling/variables.less';
@import '../../globalStyling/components.less';



.dashboard {
    padding: 12.8rem @0colIn 6.4rem @0colIn;
    display: flex;
    // grid-template-columns: 5fr 3fr;
    gap: 3.2rem;
    align-items: end;
    justify-content: space-between;
    // background-color: aqua;

    .dashboard-left {
        width: 60%;
        border-radius: 7rem;
        background-color: @primary-100;
        padding: 4rem;
        // padding-left: 9rem;
        // background-color: aqua;
    }

    .dashboard-textbox {
        margin-bottom: 3.2rem;
        overflow-wrap: break-word;

        .dashboard-email {
            text-transform: uppercase;
            font-weight: bold;
            color: @secondary-500;
            margin-bottom: 1.2rem;
        }

        .dashboard-text {
            color: @neutral-500;
        }
    }

    .dashboard-right {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
        text-align: center;
        border-radius: 7rem;
        background-color: @tertiary-400;
        padding: 3rem;

        .dashboard-img {
            width: 16rem;
        }

        .dashboard-labelbox {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
        }

        .input {
            width: 100%;

            textarea {
                flex-grow: 1;
                padding: 1.6rem;
                background-color: transparent;
                height: 16rem;
            }
        }

        .btn {
            width: 100%;
        }
    }
}



.chart-container {
    border: solid 0.1rem @primary-500;
    border-radius: 1rem;
    padding: 3.2rem;
    width: 100%;
    min-height: 48rem;
}





.steps {
    padding: 3.2rem @1colIn;

    .advice-date {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2.4rem;
        color: @secondary-500;
    }

    .advice-label {
        font-size: 1.8rem;
        color: @neutral-600;
    }

    .advice-text {
        margin-bottom: 2.4rem;
        color: @neutral-600;
    }

    .advice-heading {
        margin-bottom: 0.4rem;
    }
}