@import '../../globalStyling/variables.less';
@import '../../globalStyling/components.less';



.dashboard {
    padding: 12.8rem @1colIn;
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 6.4rem;
    align-items: center;

    .dashboard-textbox {
        margin-bottom: 3.2rem;

        .dashboard-email {
            text-transform: uppercase;
            font-weight: bold;
            color: @secondary-500;
            margin-bottom: 1.2rem;
        }

        .dashboard-text {
            color: @neutral-500;
        }
    }

    .dashboard-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
        text-align: center;

        .dashboard-img {
            width: 16rem;
        }

        .dashboard-labelbox {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
        }

        .input {
            width: 100%;

            textarea {
                flex-grow: 1;
                padding: 1.6rem;
                background-color: transparent;
                height: 16rem;
            }
        }

        .btn {
            width: 100%;
        }
    }
}



.chart-container {
    border: solid 0.1rem @primary-500;
    border-radius: 1rem;
    padding: 3.2rem;
    width: 100%;
    min-height: 48rem;
}




// https://css-loaders.com/eyes/
.loader {
    .screen-overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

    &::before,
    &::after {
        content: "";
        height: 4.8rem;
        aspect-ratio: 1;
        border-radius: 50%;
        background:
            linear-gradient(@neutral-800 0 0) top/100% 0% no-repeat,
            radial-gradient(farthest-side,@secondary-700 95%,#0000) 50%/2rem 2rem no-repeat
            #fff;
        animation: l9 4s infinite ease-in;
    }
}


@keyframes l9 {
    0%  {
        background-size: 100% 0%, 2rem 2rem;
        background-position: top, 50% 50%
    }
    80% {
        background-size:100% 70%, 2rem 2rem;
        background-position:top, 50% 70%
    }
    84%,
    100%{
        background-size:100% 0%, 2rem 2rem;
        background-position:top, 50% 50%
    }
}