@import 'variables.less';


// SCREEN OVERLAY
.screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}



// SECTION
.full-section {
    min-height: 100vh;

    border-radius: 7rem;
    margin: 2rem;

}



/* LAYOUT GRID */
.layout-grid {
    .screen-overlay();

    display: flex;
    gap: var(--grid-gutter);
    padding: 0 var(--grid-padding);

    pointer-events: none;



    &.hidden .grid-column {
        display: none;
    }


    .grid-column {
        width: 100%;
    }
}


.grid-btn {
    position: fixed;
    bottom: 3.2rem;
    right: 6.4rem;

    opacity: 0;

    z-index: 100;

    &:hover {
        opacity: 1;
    }

}



// TYPOGRAPHY
h1,
h2,
h3,
h4,
h5 {
    font-family: @font-headings;
    color: @primary-800;
}

h1 {
    font-size: @h1;
}

h2 {
    font-size: @h2;
}

h3 {
    font-size: @h3;
}

h4 {
    font-size: @h4;
}

h5 {
    font-size: @h5;
}

p {
    font-size: @p1;
}


// INPUT
input,
textarea {
    border: solid 0.1rem @tertiary-700;
    border-radius: 1rem;
    resize: none;
    font-family: inherit;
    // color: @secondary-600;
}



// BUTTON
.btn {

    border: none;
    padding: 1.6rem 3.2rem;
    font-family: inherit;
    cursor: pointer;
    border-radius: 1rem;
    color: @primary-100;
    font-size: @p1;
    transition: .2s;



    &:hover,
    &:active {
        background-color: transparent;
        color: @primary-800;
        font-weight: bold;
        border: solid 0.1rem @primary-800;
    }
}

.purple {
    background-color: @primary-800;
}

.yellow {
    background-color: @tertiary-600;
}


.btn-secondary {
    background-color: transparent;
    color: @primary-800;
    border: solid 0.1rem @primary-800;
}



// MODAL
.modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    background-color: @primary-300;
    border-radius: 1rem;
    padding: 3.2rem;
    transition: .2s;
    position: relative;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.2);
    text-align: center;

    .modal-icon {
        position: absolute;
        cursor: pointer;
        width: 2.4rem;
        height: 2.4rem;
        right: 0.4rem;
        top: 0.4rem;
        color: @primary-700;
    }
}

.modal-closed {
    transform: scale(0);
}



// LOADING ANIMATION
// https://css-loaders.com/eyes/
.loader {
    .screen-overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    background-color: rgba(0, 0, 0, 0.5);

    &::before,
    &::after {
        content: "";
        height: 4.8rem;
        aspect-ratio: 1;
        border-radius: 50%;
        background:
            linear-gradient(@neutral-800 0 0) top/100% 0% no-repeat,
            radial-gradient(farthest-side, @primary-800 95%, #0000) 50%/1.6rem 1.6rem no-repeat #fff;
        animation: l9 2s infinite ease-in;
    }
}


@keyframes l9 {
    0% {
        background-size: 100% 0%, 1.6rem 1.6rem;
        background-position: top, 50% 50%
    }

    80% {
        background-size: 100% 70%, 1.6rem 1.6rem;
        background-position: top, 50% 70%
    }

    84%,
    100% {
        background-size: 100% 0%, 1.6rem 1.6rem;
        background-position: top, 50% 50%
    }
}