@import 'variables.less';


// SCREEN OVERLAY
.screen-overlay {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
}



// SECTION
.full-section {
    min-height: 100vh;

    border-radius: 7rem;
    margin: 2rem;

}



/* LAYOUT GRID */
.layout-grid {
    .screen-overlay();

    display: flex;
    gap: var(--grid-gutter);
    padding: 0 var(--grid-padding);

    pointer-events: none;



    &.hidden .grid-column {
        display: none;
    }


    .grid-column {
        width: 100%;
    }
}


.grid-btn {
    position: fixed;
    bottom: 3.2rem;
    right: 6.4rem;

    opacity: 0;

    z-index: 100;

    &:hover {
        opacity: 1;
    }

}



// TYPOGRAPHY
h1,
h2,
h3,
h4,
h5 {
    font-family: @font-headings;
    color: @primary-800;
}

h1 {
    font-size: @h1;
}

h2 {
    font-size: @h2;
}

h3 {
    font-size: @h3;
}

h4 {
    font-size: @h4;
}

h5 {
    font-size: @h5;
}

p {
    font-size: @p1;
}


// INPUT
input,
textarea {
    border: solid 0.1rem @primary-800;
    border-radius: 1rem;
    resize: none;
    font-family: inherit;
    color: @primary-600;
}



// BUTTON
.btn {
    background-color: @primary-800;
    border: none;
    padding: 1.6rem 3.2rem;
    font-family: inherit;
    cursor: pointer;
    border-radius: 1rem;
    color: @primary-100;
    font-size: @p1;
    transition: .2s;

    &:hover,
    &:active {
        background-color: transparent;
        color: @primary-800;
        font-weight: bold;
        border: solid 0.1rem @primary-800;
    }
}


.btn-secondary {
    background-color: transparent;
    color: @primary-800;
    border: solid 0.1rem @primary-800;
}



// MODAL
.modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    background-color: @primary-300;
    border-radius: 1rem;
    padding: 3.2rem;
    transition: .2s;
    position: relative;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.2);
    text-align: center;

    .modal-icon {
        position: absolute;
        cursor: pointer;
        width: 2.4rem;
        height: 2.4rem;
        right: 0.4rem;
        top: 0.4rem;
        color: @primary-700;
    }
}

.modal-closed {
    transform: scale(0);
}